* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #1e1e2f;
  color: #f7f7f7;
  height: 100dvh;
}

.app {
  display: flex;
  justify-content: space-between;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 75%;
  padding-left: 20px;
  padding-top: 20px;
  gap: 20px;
  position: relative;
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  gap: 8px;
}

h2 {
  font-weight: 500;
  color: #f7f7f7;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  height: 100vh;
  background-color: #2b2b3c;
  padding: 20px;
  gap: 20px;
}

.sidbar-top {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.sidbar-top input,
.btn-sidebar {
  width: 280px;
  height: 42px;
  border-radius: 6px;
  border: none;
}

.sidbar-top input {
  padding-left: 10px;
  font-size: 16px;
  background-color: #f0f0f0;
  color: #333;
}

.btn-sidebar {
  cursor: pointer;
  background-color: #165f7c;
  color: white;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #104155;
  }
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  background-color: #f7f7f7;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  font-size: 20px;
  cursor: pointer;
  background-color: #ec1713;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #a82521;
  }
}

.todo-card p {
  display: flex;
  align-items: center;
  padding-left: 14px;
  width: 100%;
  height: 44px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.todo-card p:hover {
  background-color: #e6e6e6;
}

.todo-card.completed p {
  background-color: #d1f0dc;
  border-left: 5px solid #3eaf7c;
  text-decoration: line-through;
  color: #2e5e43;
}

.todo-card.completed p:hover {
  background-color: #b7e5cc;
}

.error-message {
  display: block;
  color: rgb(240, 39, 39);
}

.error-message-disable {
  display: none;
}

.total-complete {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 20px;
}

.radio-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.radio-container input[type="radio"] {
  width: 20px;
  height: 20px;
}
